body{
    margin: 0;
    padding: 0;
    color: darkred;
    font-size: 20px;
}

#game-screen {
    display: block; 
}
#gameOver, #playHUD {
    position: absolute;
    visibility: hidden;
}

.title{
    font-size: 65px;
    margin-bottom: 0px;
    margin-top: 0px;
     color: red;
}

#playAgainButton {
    border: 2px solid white;
    border-radius: 10px;
}

#playAgainButton:hover {
    background-color: red;
    
}

h2{
    
}

#scoreboard {
    margin: 0px;
}