body{
    margin: 0;
    padding: 0;
    color: darkred;
    font-size: 20px;
    font-style: oblique;
}

#game-screen {
    display: block; 
}
#gameOver, #playHUD {
    position: absolute;
    visibility: hidden;
}
/*------------------------------------------------------------------------------
This changes the margin on the top and bottom screen
  ------------------------------------------------------------------------------
*/
.title{
    font-size: 65px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: red;
    font-style: italic;
}
  /*----------------------------------------------------------------------------
  This changes the color of the play again button 
    ----------------------------------------------------------------------------
  */
#playAgainButton {
    border: 2px solid darkred;
    border-radius: 10px;
    font: cursive;
}

#playAgainButton:hover {
    background-color: red;

}

h2{

}
/*------------------------------------------------------------------------------
puts color and a border on the score board
  ------------------------------------------------------------------------------
*/
#scoreboard {
    margin: 0px;
    border: 2px solid red;
    border-radius: 10px;
}